## An example notebook

IPython 8.0.1, 7.31.1 and 5.11 onwards disables the `ipython_config.py` trick to prevent potential
Execution with Unnecessary Privileges. Please see their release notes and security advisory
[here](https://ipython.readthedocs.io/en/stable/whatsnew/version8.html#ipython-8-0-1-cve-2022-21699).

Hence, you need to install this repo for the cell below to to import the `mlmax` module:

```bash
# Assume GITROOT is the git repo of the mlmax project
cd GITROOT

# Editable install: any change to GITROOT/src/mlmax/* are reflected immediately
pip install -e .

# Or, normal install; must be repeated to reflect subsequent changes to GITROOT/src/mlmax/*
pip install .
```

In [1]:
from mlmax.preprocessing import read_data

In [2]:
d = read_data("s3://sagemaker-sample-data-us-east-1/processing/census/census-income.csv")

Reading input data from s3://sagemaker-sample-data-us-east-1/processing/census/census-income.csv
Data after cleaning: (68285, 9), 11401 positive examples, 56884 negative examples

In [3]:
d.head()

,age,education,major industry code,class of worker,num persons worked for employer,capital gains,capital losses,dividends from stocks,income
0,73,High school graduate,Not in universe or children,Not in universe,0,0,0,0,0
1,58,Some college but no degree,Construction,Self-employed-not incorporated,1,0,0,0,0
2,18,10th grade,Not in universe or children,Not in universe,0,0,0,0,0
3,9,Children,Not in universe or children,Not in universe,0,0,0,0,0
4,10,Children,Not in universe or children,Not in universe,0,0,0,0,0